<div class="about-container">
    <h1>About</h1>
    <p>Rails Pokedex is a Pokemon data set that includes information on different Pokemons 
    from Generations 1 - 9. This specific data set has a total of 1017 Pokemons. Some of the data
    that can be found in this data set is the Pokemon name, a brief description of the pokemon, 
    their base stats, and their pokemon types.</p>

    <p>There are a total of 6 tables created based on the information in a Pokemon csv file.</p>

    <%= image_tag "Pokedex.drawio.png", class: "pokemon-image" %>
</div>