<h1>About</h1>
<p>Rails Pokedex is a Pokemon data set that includes information on the different Pokemons 
from Generations 1 - 9, this specific data set has a total of 1017 Pokemons. </p>

<p>There are a total of 6 tables created based on the information in a Pokemon csv file.</p>

<%= image_tag "Pokedex.drawio.png", class: "pokemon-image" %>