<link ref="stylesheets" href="app/assets/stylesheets/application.css">

<div>
    <ol class="pokemon-container">
        <% @pokemon_infos.each do |pokemon_info| %>
            <li class="pokemon-name">
                <%= image_tag "#{pokemon_info.id}.png", class: "pokemon-image" %>
                <%= link_to pokemon_info.name, pokemon_info %>
            </li>
        <% end %>
    </ol>
</div>