<h1>Pokemon Ranks</h1>

<div>
    <ol class="pokemon-container">
        <% @pokemon_rank.each do |rank| %>
            <li class="pokemon-name">
                <%= link_to rank.name, rank %>
            </li>
        <% end %>
    </ol>
</div>