<h1>Pokemon Types</h1>

<div>
    <ol class="pokemon-container">
        <% @type_name.each do |type| %>
            <% if type.name != "None" %>
                <li class="pokemon-name">
                    <%= link_to type.name, type %>
                </li>
            <% end %>
        <% end %>
    </ol>
</div>